/*Start global css  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif ;
}

.container{
    width: 80%;
    margin:0 auto;
}

a{
    text-decoration: none;
    color: inherit;

}

ul,li{
    list-style: none;
}

img{
    width: 100%;
}



/* End global css */

/* Strat nav style */
nav{
    background-color: #F5F3FF;
   
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-block: 18px;
}

nav .nav-links ul{
    display: flex;
    gap: 20px;
}

/* End nav style */